.closeAbout {
  width: 25px;
  height: 25px;
  position: relative;
}

.closeAbout::before,
.closeAbout::after {
  content: "";
  width: 24px;
  border-radius: 2px;
  border: 2px solid var(--color-zero);
  position: absolute;
  top: 45%;
}

.closeAbout::before {
  transform: rotate(45deg);
}

.closeAbout::after {
  transform: rotate(-45deg);
}

.closeAbout .content {
  display: inline-block;
  text-indent: -9999px;
}
