html,
body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-second);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
