body {
  background-color: var(--color-second);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
