.header-hash {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-md);
}

.header-hash > .about-hash {
  margin-left: auto;
  margin-right: var(--spacing-small);
}

.header-hash > .menu-hash {
  width: 25px;
}
