.app > .header-hash,
.header-aboutLayer {
  width: 82vw;
  margin: 0 auto;
}

.app > .section-hash {
  box-sizing: border-box;
  width: 84vw;
  height: 84vw;
  margin: 100px auto 0;
  padding: 16px;
  margin-bottom: var(--spacing-big);
}
